<div class='dummy-header'>Basic</div>
<div style="padding: 10px 20px;">
	{{frost-text id="basic" autofocus=true}}
</div>

<div class='dummy-header'>Action</div>
<div style="padding: 10px 20px;">
	{{frost-text id="action" on-input=(action "text" )}}
</div>

<div class='dummy-header'>Error</div>
<div style="padding: 10px 20px;">
	{{frost-text id="error" classNameBindings="error"}}
	{{#frost-button on-click=(action "toggleError") class="small secondary"}}
		<div class='text'>Toggle error</div>
	{{/frost-button}}
</div>

<div class='dummy-header'>Attributes - e.g. Disabled</div>
<div style="padding: 10px 20px;">
	{{frost-text id="disabled" disabled=true}}
</div>

<div class='dummy-header'>Attributes - e.g. Read-only</div>
<div style="padding: 10px 20px;">
	{{frost-text id="read-only" readonly=true value="Read only text"}}
</div>
