<hr width="400" align="left">
    <div class='dummy-header'>frost-text examples</div>
<hr width="400" align="left">
<br>

<div class='dummy-header'>Basic</div>
<div style="padding: 10px 20px;">
	{{frost-text id="basic"}}
</div>

<div class='dummy-header'>Action</div>
<div style="padding: 10px 20px;">
	{{frost-text id="action" on-input=(action "text" )}}
</div>

<div class='dummy-header'>Error</div>
<div style="padding: 10px 20px;">
	{{frost-text id="error" classNameBindings="error"}}
	{{#frost-button on-click=(action "toggleError") class="small secondary"}}
		<div class='text'>Toggle error</div>
	{{/frost-button}}
</div>

<div class='dummy-header'>Attributes - e.g. Disabled</div>
<div style="padding: 10px 20px;">
	{{frost-text  disabled id="disabled"}}
</div>

<div class='dummy-header'>Attributes - e.g. Read-only</div>
<div style="padding: 10px 20px;">
	{{frost-text readonly id="read-only"  class="read-only" value="Read only text"}}
</div>